* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(246, 244, 240);
}

.border {
  border: 1px solid;
}

.box {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: sans-serif;
  padding: 0px 60px;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 50px 60px;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: 900;
}

.nav-item {
  position: relative;
  right: 100px;
  width: 10rem;
  height: auto;
  display: flex;
  font-size: 1rem;
}

.nav-item li {
  list-style-type: none;
}

.menu_btn {
  width: 55px;
  height: 40px;
  border: 1px solid;
  position: fixed;
  top: 30px;
  background: #444;
  display: none;
}

.menu li {
  padding: 8px 0;
}
.menu {
  width: 100%;
  position: relative;
  top: 40px;
  list-style-type: none;
  text-align: center;
  margin: 10px 0px;
}
.active_menu {
  display: none;
}
.mid-part {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact_us input {
  width: 20rem;
  height: 35px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.contact_us textarea {
  max-width: 20rem;
  padding: 10px;
}

form {
  text-align: center;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background: #777;
  color: #ccc;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 835px) {
  .navbar {
    padding: 50px 10px;
  }

  .nav-item {
    display: none;
  }
  .active_menu {
    display: none;
    width: 55px;
    position: fixed;
    height: 0px;
    top: 30px;
  }
  .menu_btn {
    display: flex;
  }
}
